.continents {
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.continents .list {
	height: 25%;

	width: 90%;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 7%;
	margin-bottom: 5%;
}

.continentsimg {
	width: 80%;
	margin-top: 10%;
	margin: auto;
	height: 75%;
}

ul p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
}

.continentsimg img {
	height: 90%;
	width: 100%;
	max-width: 900px;
}

@media only screen and (max-width: 600px) {
	.continentsimg img {
		height: 60%;
		margin-top: 20%;
	}
	ul p {
		font-size: medium;
	}
}

.continentlink {
	text-decoration: none;
}

.continentlink:active {
	color: coral;
}

.continentlink:hover {
	background-color: rgb(240, 205, 192);
	font-size: 110%;
}
