.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

h1 span {
	font-size: large;
	font-style: normal;
}
#homepageimg {
	height: 100%;
	width: 80%;
	max-width: 900px;
}

h1 {
	font-style: italic;
}

.home p {
	text-align: left;
}

#safetravel {
	font-weight: 600;
}

@media only screen and (max-width: 650px) {
	#homepageimg {
		height: 60%;
		margin-top: 20%;
	}
}
