.advisory {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.countryPreviewMain {
	/* background-color: lightgreen; */
	height: 60vh;
	width: 60%;
	margin: auto;
	text-align: left;
	font-size: medium;
	padding-top: 5%;
	padding-bottom: 5%;
}

.advisory footer {
	height: 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: rgb(200, 236, 245);
}

@media only screen and (max-width: 666px) {
	.advisory footer {
		height: 20%;
	}
}

.flagandname {
	display: flex;
}

#smallflag {
	width: 15%;
	margin-right: 8%;
	margin-left: 2%;
}

#smallflag img {
	width: 100%;
}
