.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	width: 100%;
	font-weight: 500;
}

.nav p {
	color: white;
}

.navlink {
	text-decoration: none;
}

h3 {
	font-style: italic;
	color: ivory;
}
